<html>

<head>
    <title>Accident History</title>

    <!-- reset CSS -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <!-- BootStrapCDN -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/sidemenu.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/topbar.css">
    <link rel="stylesheet" href="/css/font.css">
</head>

<body>        
    <%- include('./lib/navigation_bar') -%>

    <i id="floating_sidebar" class="fas fa-arrow-left" onclick="goBack()"></i>

    <div id="content">
        <h1>사고 이력</h1>
        <hr />
        <div id="accident_title" class="row">
          <div class="col title traffic">교통 사고</div>
          <div class="col title">도난 사고</div>
        </div>
        <div id="accident_info" class="row">
          <div class="col info traffic">
            <div class="accordion" id="accordionExample">
        
              <%for(let i=0; i<data.trafficaccident.length; i++){%>
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left button_style" type="button" data-toggle="collapse"
                        data-target="#collapsetraffic<%=i%>" aria-expanded="true" aria-controls="collapseOne">
                        <%=data.trafficaccident[i].accident_time%>
                      </button>
                    </h2>
                  </div>
                  <div id="collapsetraffic<%=i%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <p>
                        멤버ID : <%=data.trafficaccident[i].jarvis_member_id%> <br />
                        차량번호 : <%=data.trafficaccident[i].car_number%> <br />
                        사고장소 : <%=data.trafficaccident[i].accident_location%> <br />
                        사고시간 : <%=data.trafficaccident[i].accident_time%> <br />
                        의식상태 : <%=data.trafficaccident[i].consciousness%> <br />
                      </p>
                    </div>  
                  </div>
                </div>
              <%}%>
          </div>
        </div>
        <div class="col info">
          <div class="accordion" id="accordionExample">
      
            <%for(let i=0; i<data.theftaccident.length; i++){%>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left button_style" type="button" data-toggle="collapse"
                      data-target="#collapsetheft<%=i%>" aria-expanded="true" aria-controls="collapseOne">
                      <%=data.theftaccident[i].accident_time%>
                    </button>
                  </h2>
                </div>
                <div id="collapsetheft<%=i%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>
                      멤버ID : <%=data.theftaccident[i].jarvis_member_id%> <br />
                      차량번호 : <%=data.theftaccident[i].car_number%> <br />
                      사고장소 : <%=data.theftaccident[i].accident_location%> <br />
                      사고시간 : <%=data.theftaccident[i].accident_time%> <br />
                    </p>
                  </div>  
                </div>
              </div>
            <%}%>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/common.js"></script>
</body>

</html>