<html>

<head>
    <title>hihi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/sidemenu.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/topbar.css">

    <!--BootStrapCDN-->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>

<body>        
    <%- include('./lib/navigation_bar') -%>

    <i id="floating_sidebar" class="fas fa-arrow-left" onclick="goBack()"></i>

    <div id="content">
        <h1>결제 정보 확인</h1>
        <hr />
            <div>
                <h4>면허정보</h4>
                <p>
                <% if (session.userid) { %>
                userid = <%=session.userid%>
                username = <%=session.username%>
                phone_num = <%=session.shareChecked.phone_num%>
                car_owned = <%=session.shareChecked.car_owned%>
                card_registered = <%=session.shareChecked.card_registered%>
                license_registered = <%=session.shareChecked.license_registered%>
                
                <% } else { %>
                empty session.
                <% } %>
                </p>
            </div>
            <hr />

              <button id="cardRegistrationSubmit" class="btn btn-dark btn-lg btn-block mt-5" type="submit">결제 하기</button>
        </form>
    </div>
    <script type="text/javascript" src="/js/common.js"></script>
</body>

</html>