<html>

<head>
    <title>결제 완료</title>

    <!-- reset CSS -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <!-- BootStrapCDN -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/sidemenu.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/topbar.css">
    <link rel="stylesheet" href="/css/font.css">
</head>

<body>        
    <%- include('./lib/navigation_bar') -%>

    <i id="floating_sidebar" class="fas fa-arrow-left" onclick="goBack()"></i>

    <div id="content">
        <h1>결제 완료</h1>
        <hr />
        <div id="success_info" class="row">
            <div id="success_info_left" class="col-7 info">
                <div class="payment_success">
                    <h4><span style="color: blue;">결제가 성공적으로 완료</span>되었습니다.</h4>
                    <h5>JARVIS를 사용해주셔서 감사합니다.</h5>
                    <p>사용 일자 : <%var d = new Date();%>
                        <%var c_date = d.getFullYear() + "년 " + ( d.getMonth() + 1 ) + "월 " + d.getDate() + "일"%>
                        <%=c_date%></p>
                    <a type="button" class="btn btn-primary" href="/share">계속 사용하기 ></a>
                </div>
            </div>
            <div id="success_info_right" class="col-5 info">
                <div class="bill">
                    <div class="row info_title">
                        사용자 정보
                    </div>
                    <div class="row info_pay">
                        <div class="col">이름</div>
                        <div class="col right"><%=data.jarvisMember.member_name%></div>
                    </div>
                    <div class="row info_pay">
                        <div class="col">휴대폰</div>
                        <div class="col right"><%=data.jarvisMember.phone_num%></div>
                    </div>
                    <div class="row info_pay">
                        <div class="col">면허 번호</div>
                        <div class="col right"><%=data.drivingLicenseInfo.driving_license_number%></div>
                    </div>
                    <div class="row info_pay">
                        <div class="col">결제 카드 번호</div>
                        <div class="col right"><%=data.creditCardInfo.credit_card_number%></div>
                    </div>

                    <hr />

                    <div class="row info_title">
                        사용 내역
                    </div>
                    <div class="row info_pay">
                        <div class="col">사용시간</div>
                        <div class="col right"><%=data.shareHistory.diff_time%></div>
                    </div>
                    <div class="row info_pay">
                        <div class="col">이동거리</div>
                        <div class="col right"><%=data.shareHistory.distance%>KM</div>
                    </div>

                    <hr />

                    <div class="row info_title">
                        결제 정보
                    </div>
                    <div class="row info_pay">
                        <div class="col">기본요금</div>
                        <div class="col right">5,000원</div>
                    </div>
                    <div class="row info_pay">
                        <div class="col">추가요금</div>
                        <div class="col right"><%=data.shareHistory.Surcharge%>원</div>
                    </div>
                    <div class="row info_pay">
                        <div class="col">포인트 사용</div>
                        <div class="col right">-<%=data.use_point%>원</div>
                    </div>

                    <hr />

                    <div class="row info_total">
                        <div class="col total">총 결제 금액 : </div>
                        <div class="col total right"><%=data.shareHistory.totalprice%>원</div>
                    </div>
                    
                </div>
            </div>
        </div>    
        <hr />

        
                
    </div>
    <script type="text/javascript" src="/js/common.js"></script>
</body>

</html>